.container
  h2 2024.8.15
  h1 To：柏睿
  h1 Happt Birthday !
  br
  .cake
    .top
      .cherry
        svg.head(viewbox="-60 -60 100 100" width="100px")
          path(d="M0 0 q 8 8 18 -4")
          path(d="M9 0 q -10 -40 16 -50")
    .middle
      .berry
      .berry
      .berry
      .berry
      .berry
    .bottom
      .bottom1 
      .bottom2 
      .bottom3 
    .dish
